@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
}


.App--logo--container {
  width: 2.86em;
  height: 2.86em;
  background-color: #303741;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App--logo {
  align-items: center;
  height: 30%;
}

.card {
  width: 21.8em;
  height: 24em;
  padding: 1.55em;
  background-image: linear-gradient(#222933, #171E28);
  /* background-color: hsl(213, 30%, 15%); */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card>h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 20px 24px 10px 0;
  font-size: 1.58em;
}

.card>span {
  color: hsl(217, 12%, 63%);
  padding-bottom: 2.3em;
  font-size: 14px;
  line-height: 20px;
}

.card--qualification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.13em;
  cursor: pointer;
  padding-bottom: 1.6em;
}

.card--qualification--value {
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.86em;
  height: 2.86em;
}

.card--qualification--value:hover {
  background-color: hsl(25, 97%, 53%) !important;
}

.card--button {
  background-color: hsl(25, 97%, 53%);
  color: #FDE2B5;
  width: 100%;
  height: 2.9em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 2em;
  border: none;
}

.card--button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}


.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 13px 0 23.5px 0; */
  padding: 0.8667rem 0 1.5667rem 0;
  text-align: center;
}

.result > img {
  width: 51%;
  /* height: 50%; */
}



.result--select {
  background-color: #20282f;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  margin-top: 1.6em;
  margin-bottom: 0.4em;
  padding: 0.4em 0.8em;
  font-size: 0.95em;
}



.result>h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 1em 0.1em 0.45em 0;
  font-size: 1.57em;
}

.result>span {
  color: hsl(217, 12%, 63%);
  font-size: 0.94em;
  line-height: 1.4rem;
}
