@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

body {
  font-size: 15px;
  background-color: hsl(216, 12%, 8%);
}


.App--logo--container {
  width: 2.86em;
  height: 2.86em;
  background-color: #303741;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App--logo {
  align-items: center;
  height: 30%;
}

.card {
  width: 21.8em;
  height: 24em;
  padding: 1.5em;
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.67em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card>h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 20px 24px 10px 0;
  font-size: 1.5em;
}

.card>span {
  color: hsl(217, 12%, 63%);
  padding-bottom: 2em;
  font-size: 13px;
  line-height: 20px;
}

.card--qualification {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.13em;
  cursor: pointer;
  padding-bottom: 1.4em;
}

.card--qualification--value {
  background-color: #303741;
  color: hsl(0, 0%, 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.86em;
  height: 2.86em;
  /* border: 1px solid hsl(216, 12%, 54%); */
}

.card--qualification--value:hover {
  background-color: hsl(25, 97%, 53%) !important;
}

.card--button {
  background-color: hsl(25, 97%, 53%);
  color: #FDE2B5;
  width: 100%;
  height: 3em;
  border-radius: 1.5em;
  border: none;
}

.card--button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
}


.result {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 30px 25px 46px 27px; */
  padding: 7.5px 0 23.5px 0;
  text-align: center;
}

.result > img {
  width: 50%;
  height: 50%;
}


.result--select {
  background-color: #20282f;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  margin-top: 25px;
  padding: 10px 12px;
  font-size: 14px;
}


.result>h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 24px 0 10px 0;
  font-size: 1.57em;
}

.result>span {
  color: hsl(217, 12%, 63%);
  font-size: 14px;
  line-height: 22px;
}
